.list-item-single-movie {
   display: flex;
   align-items: center;
   border-bottom: 1px solid #ccc;
   margin-bottom: 5px;
}

.container-movie-props {
   width: 80%;
   display: flex;
   cursor: pointer;
}

.poster {
   width: 100px;
   transition: transform 0.7s ease;
}

.poster:hover {
   transform: scale(5);
}

.container-movie-name-price {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0;
   margin: 0 10px;
}

.movie-name {
   font-style: italic;
   text-align: center;
   width: 200px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.movie-price {
   margin-top: 0.3rem;
   font-weight: bold;
   color: #ad5502;
   font-size: 1.25rem;
}

.description {
   font-style: italic;
   padding: 20px;
   max-height: 7em;
   overflow: hidden;
}

.container-add-movie-amount-form {
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: auto;
}

.container-favorite-image {
   height: 110px;
   margin-left: auto;
}

.image-heart {
   width: 25px;
   cursor: pointer;
   margin-left: 5px;
}

@media (max-width: 1200px) {
   .container-movie-props {
      width: 95%;
   }
}

@media (max-width: 1100px) {
   .container-movie-props {
      width: 90%;
   }
}

@media (max-width: 1000px) {
   .list-item-single-movie .description {
      display: none;
   }

   .movie-name {
      font-style: initial;
      text-align: initial;
      width: initial;
      overflow: initial;
      text-overflow: initial;
      white-space: initial;
   }
}

@media (max-width: 800px) {
   .poster {
      display: none;
   }
}

@media (max-width: 600px) {
   .list-item-single-movie .description {
      display: none;
   }
}
