.section-movie-list {
   padding: 20px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
   border-radius: 14px;
   background-color: white;
   margin: 5px;
}

.section-no-movie-found {
   display: flex;
   align-items: center;
   border-bottom: 1px solid #ccc;
   margin-bottom: 5px;
}

.section-movie-list ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

@keyframes movies-appear {
   from {
      opacity: 0;
      transform: translateY(3rem);
   }

   to {
      opacity: 1;
      transform: translateY(0);
   }
}

.status-message {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
   font-size: 32px;
   color: red;
}

.status-message.error {
   color: #f44336;
}

.status-message.loading p::after {
   content: ".";
   animation: dots 1s infinite;
}

@keyframes dots {
   0%,
   20% {
      content: ".";
   }
   40% {
      content: "..";
   }
   60% {
      content: "...";
   }
   80% {
      content: ".";
   }
}
